.user-msg {
    background-color: lightgray;
    right: 1em;
    padding: .5em 1em;
    position: fixed;
    bottom: 1em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 2px;
}

.user-msg.success {
    background-color: rgb(179, 221, 157);
    border-radius: 6px;
}

.user-msg.error {
    background-color: rgb(255, 182, 193);
    border-radius: 6px;
}